/*
HTML fragment:
<div class="section section-03-asesor">
  <div class="sec-num">3</div>
  <div class="sec-header">Asesor</div>
  <div class="sec-content">
    <div class="asesor-item fr3">...</div>
  </div>
</div>
*/

.section.section-03-asesor {
  display: grid;
  width: 100%;
  grid-template-areas:
    "sec-num sec-header"
    ". sec-content";
  grid-template-columns: 40px 1fr;
  margin: 14px 0;
  gap: 5px;
  page-break-inside: avoid;
}

.section.section-03-asesor .sec-num {
  grid-area: sec-num;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 11pt;
}

.section.section-03-asesor .sec-header {
  grid-area: sec-header;
  border: 1px solid #000;
  padding-left: 10px;
  font-size: 11pt;
  font-weight: bold;
  align-content: center;
  min-height: 40px;
}

.section.section-03-asesor .sec-content {
  grid-area: sec-content;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  font-size: 9pt;
}

.section.section-03-asesor .fr1 {
  grid-column: span 1;
}

.section.section-03-asesor .fr2 {
  grid-column: span 2;
}

.section.section-03-asesor .fr3 {
  grid-column: span 3;
}

.section.section-03-asesor .fr4 {
  grid-column: span 4;
}

.section.section-03-asesor .fr6 {
  grid-column: span 6;
}

.section.section-03-asesor .bold {
  font-weight: bold;
}

.section.section-03-asesor .asesor-item {
  padding: 8px 0;
}

.section.section-03-asesor .asesor-item p:first-of-type {
  font-weight: bold;
  margin: 0;
}

.section.section-03-asesor .asesor-item p {
  margin: 0;
}
