/*
HTML fragment:
<div class="section section-05-detalle-primas">
  <div class="sec-num">5</div>
  <div class="sec-header">Detalle de Primas</div>
  <div class="sec-content">
    <div class="item fr3">...</div>
  </div>
</div>
*/

.section.section-05-detalle-primas {
  display: grid;
  width: 100%;
  grid-template-areas:
    "sec-num sec-header"
    ". sec-content";
  grid-template-columns: 40px 1fr;
  margin: 14px 0;
  gap: 5px;
  page-break-inside: avoid;
}

.section.section-05-detalle-primas .sec-num {
  grid-area: sec-num;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 11pt;
}

.section.section-05-detalle-primas .sec-header {
  grid-area: sec-header;
  border: 1px solid #000;
  padding-left: 10px;
  font-size: 11pt;
  font-weight: bold;
  align-content: center;
  min-height: 40px;
}

.section.section-05-detalle-primas .sec-content {
  grid-area: sec-content;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  font-size: 9pt;
}

.section.section-05-detalle-primas .fr3 {
  grid-column: span 3;
}

.section.section-05-detalle-primas .bold {
  font-weight: bold;
}

.section.section-05-detalle-primas .item {
  padding: 8px 0;
}

.section.section-05-detalle-primas .item p:first-of-type {
  font-weight: bold;
  margin: 0;
}

.section.section-05-detalle-primas .item p {
  margin: 0;
}
